body {
  margin: 0;
  padding: 0;
  background: rgb(240, 191, 30);
}

.h1,
.h2 {
  color: #130fec;
  font-weight: 700;
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
  padding-top: 80px;
}

.btn {
  cursor: pointer;
  margin: 0 auto;
}

.lead {
  max-width: 40%;
  margin: 0 auto;
  color: #000;
}

.hr {
  max-width: 50%;
  margin: 0 auto;
}

.text {
  max-width: 50%;
  margin: 0 auto;
  color: #130fec;
}

.row {
  max-width: 40%;
  margin: 0 auto;
  color: #130fec;
}

.image {
  padding-top: 30px;
  width: 20px;
  object-fit: contain;
}

.img {
  gap: 16px;
}

.img-fluid {
  height: 16rem;
}

.card-body {
  height: 16rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.card-1 {
  width: 130%;
}
